<h1>New Robots</h1>
<%= form_for (@robot) do  |f| %>
	<%= f.text_field :name, placeholder: "Name" %> 

	<%= f.text_field :ability, placeholder: "ability" %>

	<%= f.text_field :version, placeholder: "version" %>

	<%= f.text_field :manufacturer, placeholder: "manufacturer" %>
	<%= f.submit "Create Robot" %>
	<% end %>

<p>Find me in app/views/robots/new.html.erb</p>
